# Ini adalah komentar (tidak akan dibaca oleh Git)

# 1. Mengabaikan file spesifik
rahasia.txt
config.json

# 2. Mengabaikan seluruh folder dan isinya
node_modules/
.env/
build/
asyncawait/

# 3. Mengabaikan semua file dengan ekstensi tertentu
*.log
*.exe
*.dmg

# 4. Mengabaikan semua file .txt di dalam folder log
log/*.txt

# 5. Mengabaikan seluruh folder log, KECUALI satu file penting
log/
!log/tetap_simpan.txt
